html {
  background: #EC1187 linear-gradient(to bottom right, #EC1187 0%, #FF8D10 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
}

.wrapper {
  padding: 1rem;
}

.body {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  max-width: 500px;
}

.upperbox {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.lowerbox {
  background-color: rgb(255, 255, 255, 0.4);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.containerMessages {
  display: flex;
  padding-top: 0.5rem;
  flex-direction: column;
  align-items: center;
}

.userName {
  padding-left: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

.containerMessage {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  padding-top: 1rem;
  border-radius: 20px;
}

.message {
  padding: 1rem;
}

.action {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 1rem;
}

.action button {
  max-width: 500px;
  width: 100%;
  color: black;
  border: none;
  background-color: white;
}

.action button:hover {
  transform: scale(0.95);
  background: rgb(245, 245, 245, 1);
}

.action button:active {
  transform: scale(0.95);
  background: rgb(255, 255, 255, 1);
}

.bankers {
  height: 40px;
  width: 40px;
  padding-right: 1rem
}

.parentMessage {
  max-width: 500px;
  width: 100%;
  margin-bottom: 1rem;
}

.textarea {
  padding-top: 1rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 1rem;
  background-color: transparent;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  height: 95px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: none;
}

.send {
  padding-top: 1rem;
}

.send button {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 20px;
  max-width: 500px;
  border-radius: 20px;
  background-color: black;
  color: white;
}

.textbox button:hover {
  transform: scale(0.95);
  background: rgb(235, 235, 235, 1);
}

.textbox button:active {
  transform: scale(0.95);
  background: rgb(255, 255, 255, 1);
}

.textbox {
  display: flex;
  padding: 0.4rem;
  max-width: 500px;
  border-radius: 20px;
  border-style: solid;
  border-color: #9b9797;
  align-items: flex-end;
  justify-content: flex-end;
}

.textbox button {
  height: 20px;
  border: none;
  outline: none
}

.textbox textarea {
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  field-sizing: content;
  border-radius: 20px;
  padding-left: 0.5rem;
}

.closed {
  display: none;
}